# Entorno virtual
env/
.venv/
venv/

# Archivos de Python generados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración sensible
.env
*.env

# Excluir archivos JSON sensibles
fichajeempleados_credentials.json
*.json
mi_documento.json  # Agrega esta línea para excluir específicamente tu documento
